@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&family=Zilla+Slab+Highlight:wght@400;700&display=swap");
.container {
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#507ddd), to(#d5dff2));
  background: linear-gradient(180deg, #507ddd 0%, #d5dff2 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container .frame {
  width: 100%;
  height: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .frame .imgFrame {
  position: fixed;
  width: 375px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .frame .imgFrame .ExplainImg {
  position: fixed;
  width: 355px;
  height: auto;
}

.container .frame .imgFrame .ExplainImg img {
  width: 100%;
  height: 100%;
}

.container .frame .imgFrame .btnCon {
  position: fixed;
  width: 355px;
  height: auto;
  background-color: aqua;
  z-index: 1;
}

.container .frame .imgFrame .btnCon .exBtn {
  position: absolute;
  width: 55px;
  height: 35px;
  top: 207px;
  left: 293px;
  z-index: 1;
}

.container .frame .flexBox {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.container .frame .flexBox .frameBox {
  width: 450px;
  height: auto;
}

.container .frame .flexBox .frameBox img {
  width: 100%;
  height: 100%;
}

.container .frame .flexBox .guitarGroup {
  width: 100px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .frame .flexBox .guitarGroup img {
  width: 100%;
  height: 100%;
  rotate: 40deg;
  margin: 3px;
}

.container .frame .flexBox .guitarGroup img:nth-child(1) {
  -webkit-animation: ZoomInOut 2s ease-in-out;
          animation: ZoomInOut 2s ease-in-out;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.container .frame .flexBox .guitarGroup img:nth-child(2) {
  -webkit-animation: ZoomInOut 2s ease-in-out;
          animation: ZoomInOut 2s ease-in-out;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.container .frame .flexBox .guitarGroup img:nth-child(3) {
  -webkit-animation: ZoomInOut 2s ease-in-out;
          animation: ZoomInOut 2s ease-in-out;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.container .frame .flexBox .resBtn {
  width: 162px;
  height: 162px;
}

.container .frame .flexBox .resBtn img {
  width: 100%;
  height: 100%;
}

.container .ResFrame {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, #507ddd 0%, black 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .ResFrame .resTitle {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" -30;
  font-size: 24px;
  line-height: 40px;
  color: #E7EDF5;
  text-align: center;
}

.container .ResFrame .Resimg {
  width: 100vw;
  height: auto;
  padding: 40px 0 50px 0;
}

.container .ResFrame .Resimg img {
  width: 100%;
  height: 100%;
}

.container .ResFrame .downImg {
  font-family: "Zilla Slab Highlight", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #E7EDF5;
}

.container .homeBtn {
  position: fixed;
  z-index: 3;
  width: 45px;
  height: 45px;
  bottom: 15px;
  right: 15px;
}

.container .homeBtn img {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes ZoomInOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes ZoomInOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=detailKiring.module.css.map */