.total {
  position: relative;
  background: linear-gradient(180deg, rgb(80, 125, 221) 0%, rgb(213, 223, 242) 100%);
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .paper {
  position: fixed;
  width: 614px;
  height: 865px;
  bottom: 35px;
  right: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .paper img {
  width: 100%;
  height: 100%;
}
.container .paper .bigBox {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 89px;
  left: 260px;
  overflow: hidden;
}
.container .paper .bigBox .title {
  font-family: "Anthony";
  position: absolute;
  top: 56px;
  left: 52px;
  font-size: 24px;
}
.container .paper .bigBox .p1 {
  font-family: "Noto Sans KR-Regular";
  position: absolute;
  top: 134px;
  left: 60px;
  font-size: 10px;
}
.container .paper .bigBox .p2 {
  font-family: "Noto Sans KR-Regular";
  position: absolute;
  top: 155px;
  left: 60px;
  font-size: 7px;
}
.container .paper .bigBox .box {
  font-family: "Raleway_Dots";
  position: absolute;
  width: 120px;
  height: 145px;
  border: 1px solid;
  border-color: #959691;
  display: flex;
  justify-content: center;
}
.container .paper .bigBox .overlayBox {
  opacity: 0.4;
  background: linear-gradient(180deg, rgb(80, 125, 221) 0%, rgb(213, 223, 242) 100%);
  border: 1px solid;
  box-sizing: border-box;
  border-color: #959691;
  width: 120px;
  font-family: "Anthony";
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.container .paper .bigBox .box1 {
  left: 59px;
  top: 185px;
}
.container .paper .bigBox .box1 span {
  position: absolute;
  font-size: 12px;
  top: 10px;
}
.container .paper .bigBox .box1 .sirenimg {
  position: absolute;
  top: 30px;
  width: 63px;
  height: 93px;
}
.container .paper .bigBox .box2 {
  left: 197px;
  top: 185px;
}
.container .paper .bigBox .box2 span {
  position: absolute;
  font-size: 12px;
  top: 10px;
}
.container .paper .bigBox .box2 .memoriesimg {
  position: absolute;
  top: 20px;
  width: 90px;
  height: 120px;
}
.container .paper .bigBox .box3 {
  left: 59px;
  top: 363px;
}
.container .paper .bigBox .box3 span {
  position: absolute;
  font-size: 12px;
  top: 10px;
}
.container .paper .bigBox .box3 .getaguitarimg {
  position: absolute;
  top: 27px;
  width: 49px;
  height: 114px;
}
.container .paper .bigBox .box4 {
  left: 197px;
  top: 363px;
}
.container .paper .bigBox .box4 span {
  position: absolute;
  font-size: 12px;
  top: 10px;
}
.container .paper .bigBox .box4 .talksaxyimg {
  position: absolute;
  top: 27px;
  width: 79px;
  height: 119px;
}
.container .paper .bigBox .box5 {
  left: 59px;
  top: 540px;
}
.container .paper .bigBox .box5 span {
  position: absolute;
  font-size: 12px;
  top: 10px;
}
.container .paper .bigBox .box5 .love119img {
  position: absolute;
  top: 27px;
  width: 41px;
  height: 112px;
}
.container .paper .bigBox .box6 {
  left: 197px;
  top: 540px;
}
.container .paper .bigBox .box6 .staricon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 80px;
  height: auto;
}
.container .paper .bigBox .homeBtnMsg {
  position: absolute;
  z-index: 3;
  width: 35px;
  height: 35px;
  top: 717px;
  left: 284px;
}
.container .paper .bigBox .homeBtnMsg img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=detailLike.module.css.map */