.container{
  padding: 0;
  margin: 0;
  text-decoration: none;
  background-color: #000;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .frame{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    .notice{
      font-family: 'Noto Sans KR-Regular';
      font-weight: 400;
      font-size: 14px;
      color: #d5dff2;
      text-align: center;
      position: fixed;
      // top: 159px;
      // left: 86px;
      margin-top: -500px;
      letter-spacing: 0;
      line-height: normal;
      opacity: 0;
      animation: fadeInOut .5s ease-in forwards;
      animation-delay: 7.2s;
    }

    .video{
      position: fixed;
      width: 360px;
      height: 360px;
      // top: 226px;
      // left: 8px;

      img{
        width: 100%;
        height: 100%;
      }
    }

    .riizeImg{
      position: fixed;
      width: 360px;
      height: 360px;
      // top: 226px;
      // left: 8px;
      object-fit: cover;
      z-index: 1;
      opacity: 0;
      animation: fadeInOut .5s ease-in forwards;
      animation-delay: 7s;

      img{
        width: 100%;
        height: 100%;
      }
    }

    .btnBox{
      position: fixed;
      width: 360px;
      height: 360px;
      z-index: 10;
      // top: 226px;
      // left: 8px;

      .btn{
        position: absolute;
        width: 21px;
        height: 39px;
        top: 38px;
        left: 109px;
      }
      .btn1{
        position: absolute;
        width: 19px;
        height: 33px;
        top: 38px;
        left: 139px;
      }
      .btn2{
        position: absolute;
        width: 19px;
        height: 30px;
        top: 41px;
        left: 169px;
      }
      .btn3{
        position: absolute;
        width: 19px;
        height: 23px;
        top: 48px;
        left: 193px;
      }
    }
  }
}

@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
